<script>
    const body = document.querySelector("body");
    const navbar = document.querySelector(".navbarmain");
    const menuBtn = document.querySelector(".menu-btn");
    const cancelBtn = document.querySelector(".cancel-btn");
    menuBtn.onclick = () => {
        navbar.classList.add("show");
        menuBtn.classList.add("hide");
        body.classList.add("disabled");
    }
    cancelBtn.onclick = () => {
        body.classList.remove("disabled");
        navbar.classList.remove("show");
        menuBtn.classList.remove("hide");
    }
    window.onscroll = () => {
        this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
    }


    $("#tablebody").on('click', '#app_delete', function () {
        var c = confirm('Are you sure you want to delete this?')
        if (c) {
            let id = $(this).attr("data-aid");
            mythis = this;
            console.log(id);
            mydata = {
                id: id,
            };
            $.ajax({
                url: "{% url 'delete_appointment' %}",
                method: "GET",
                data: mydata,
                success: function (data) {
                    // console.log(data);
                    if (data.status == 1) {
                        $(mythis).closest("tr").fadeOut();
                    }

                }
            })
        } else {

        }

    });


    // Insert Data Code

    $("#btnsave1").click(function () {
        output = "";
        let med_data = $("#medicineid").val();
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        mydata = {
            'medicine': med_data,
            'patientid': '{{patientid}}',
            'csrfmiddlewaretoken': csrf,
        };
        if (med_data.trim() != "") {
            $.ajax({
                url: "{% url 'save_medicine' %}",
                method: "POST",
                data: mydata,
                success: function (data) {
                    x = data.medicines
                    if (data.status == 'Save') {
                        for (i = 0; i < x.length; i++) {
                            output +=
                                "<li class='list-group-item text-dark'><span class='editable' data-uid='" +
                                x[i].id + "' data-type='medicine'>" +
                                x[i]
                                .medicine +
                                "</span><input type='button' class='close' aria-label='Close' style='outline: none;border: none;' value='&times;' data-sid=" +
                                x[i].id + "></li>"
                        }
                        $("#ul1").html(output);
                        // $("form")[0].reset();
                        $("input[name=medicine]").val('');
                    }
                    if (data.status == 0) {
                        console.log('Unsuccessfull')
                    }
                }
            })
        } else {
            console.log("Please input something!!!")
        }

    });

    $("#btnsave2").click(function () {
        output = "";
        let test_suggdata = $("#test_suggestid").val();
        let csrf = $("input[name=csrfmiddlewaretoken]").val();
        mydata = {
            'test_suggetion': test_suggdata,
            'patientid': '{{patientid}}',
            'csrfmiddlewaretoken': csrf,
        };
        if (test_suggdata.trim() != "") {
            $.ajax({
                url: "{% url 'save_test_suggetion' %}",
                method: "POST",
                data: mydata,
                success: function (data) {
                    x = data.test_suggetions
                    if (data.status == 'Save') {
                        for (i = 0; i < x.length; i++) {
                            output +=
                                "<li class='list-group-item text-dark'><span class='editable' data-uid='" +
                                x[i].id + "' data-type='test_sugg'>" +
                                x[i]
                                .test_suggetion +
                                "</span><input type='button' class='close' aria-label='Close' style='outline: none;border: none;' value='&times;' data-sid=" +
                                x[i].id + "></li>"
                        }
                        $("#ul2").html(output);
                        // $("form")[0].reset();
                        $("input[name=test_suggetion]").val('');
                    }
                    if (data.status == 0) {
                        console.log('Unsuccessfull')
                    }
                }
            });
        } else {
            console.log("Please input something!!!")
        }
    });



    // Delete Data
    $("#ul1").on("click", "input[type=button]", function () {
        console.log("Delete Button Click");
        let id = $(this).attr("data-sid");
        mythis = this;
        mydata = {
            id: id,
        };
        $.ajax({
            url: "{% url 'delete_medicine' %}",
            method: "GET",
            data: mydata,
            success: function (data) {
                if (data.status == 1) {
                    $(mythis).closest("li").fadeOut();
                }

            }
        });
    });

    $("#ul2").on("click", "input[type=button]", function () {
        console.log("Delete Button Click");
        let id = $(this).attr("data-sid");
        mythis = this;
        mydata = {
            id: id,
        };
        $.ajax({
            url: "{% url 'delete_test_suggetion' %}",
            method: "GET",
            data: mydata,
            success: function (data) {
                if (data.status == 1) {
                    $(mythis).closest("li").fadeOut();
                }
            }
        });
    });



    // dfgdfg //
    $(document).ready(function () {
        $('#myTable').DataTable(function () {})
        $("#myTable_filter>label").remove();
        $("#myTable_filter").append(
            '<form method="get" class="d-flex justify-content-end align-items-center" id="filterform" onsubmit="return false;"><div class="d-flex align-items-center px-3"><input type="text" class="form-control form-control-sm mx-2" id="filter_input" placeholder="Enter Here"><button type="button" class="btn btn-sm btn-primary" id="searchbt">Search</button></div><div class="optionbox"><select name="filter_select" id="fselect" class=""><option value="uid" name="uid" selected>UID</option><option value="name">Name</option><option value="date">Date</option></select></div></form>'
        );
        $("#searchbt").click('click', function () {
            filter_func();
        });
    });

    function filter_func() {
        output = "";
        let filter_input = $("#filter_input").val();
        let fselect = $("#fselect").val();
        mydata = {};
        if (fselect != null && filter_input.trim() != "") {

            if (fselect == 'uid' && isNaN(Number(filter_input)) == false) {
                mydata.uid = filter_input
            }
            if (fselect == 'name') {
                mydata.name = filter_input
            }
            if (fselect == 'date') {
                mydata.date = filter_input
            }

            $.ajax({
                url: "{% url 'filter_appointment' %}",
                method: "GET",
                data: mydata,
                success: function (data) {
                    x = data.appoints
                    if (data.status == 1) {
                        console.log("Successfull!!")
                        for (i = 0; i < x.length; i++) {
                            output += "<tr class='font-weight-bold'><td>" + x[i].id + "</td><td>" +
                                x[i].date + "</td><td>" +
                                x[i].name + "</td><td>" +
                                x[i].phone +
                                '</td><td><a class="btn btn-sm btn-info" href="/prescription/' + x[
                                    i].id + '/">' +
                                'Prescribe/View</a></td><td><a class="btn btn-sm btn-warning" href="/prescription_download/' +
                                x[
                                    i].id + '/">' +
                                'Print/Download</a></td><td><input id="app_delete" type="button" class="btn btn-sm btn-danger" value="Delete" data-aid="' +
                                x[i].id + '"></td></tr>'
                        }
                        $("#tablebody").html(output);
                        // $("form")[0].reset();
                        // $("input[name=test_suggetion]").val('');
                    }
                    if (data.status == 0) {
                        console.log('Unsuccessfull')
                        $("#tablebody").html(
                            '<td valign="top" colspan="7" class="dataTables_empty">No result found !!!</td>'
                        )
                    }
                }
            });
            console.log("Works!!")

        } else {
            console.log("Please input something!!!")
        }
    };

    $(document).ready(function () {
        $("#filter_input").keyup(function () {
            filter_func();
        });
    });



    $(document).ready(function () {
        $(document).on('dblclick', '.editable', function () {
            var value = $(this).text();
            var input =
                "<input type='text' class='input-data form-control w-auto d-inline text-center' value='" +
                value + "'>"
            $(this).html(input)
            $(this).removeClass('editable')

        });
        $(document).on("blur", ".input-data", function () {
            var value = $(this).val()
            var span = $(this).parent("span")
            $(this).remove()
            span.html(value)
            span.addClass('editable')
            update_med_test(span.data('uid'), value, span.data('type'))
        });

        $(document).on("keypress", ".input-data", function (e) {
            var key = e.which
            if (key == 13) {
                var value = $(this).val()
                var span = $(this).parent("span")
                span.html(value)
                span.addClass('editable')
                update_med_test(span.data('uid'), value, span.data('type'))
            }
        });

        function update_med_test(id, value, type) {
            mythis = this;
            mydata = {
                id: id,
                value: value,
                type: type
            };
            $.ajax({
                url: "{% url 'update_mt' %}",
                method: "GET",
                data: mydata,
                success: function (data) {

                }
            });
        }
    });


    $(document).ready(function () {
        $('#medicineid').typeahead({
            source: function (query, result) {
                $.ajax({
                    url: "{% url 'auto_med' %}",
                    method: "GET",
                    data: {
                        query: query
                    },
                    dataType: "json",
                    success: function (data) {
                        result($.map(data.medicines, function (item) {
                            return item;
                        }));
                    }
                })
            },
            highlight: true,
            hint: true,
            minLength: 1
        });
    });
</script>